<?xml version="1.0" encoding="UTF-8"?>
<suite name="TutorialsNinga Suite">
  <test  name="TestCases">
    <classes>
      <class name="tnp.tutorialNingaProject.RegisterPage"/>
      <class name="tnp.tutorialNingaProject.SearchPage"/>
      <class name="tnp.tutorialNingaProject.LoginPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
